@media screen and (max-width: 1200px) and (min-width: 1000px){
	.login{width: 41.5%;}
}
@media screen and (max-width: 1000px) and (min-width: 800px){body{font-size: 15.5px;} .banner{height: 190.4px;} 
.login{width: 41.5%;}.loginInputs{width: 39%; font-size: 0.8em;}}
@media screen and (max-width: 800px) and (min-width: 700px){
	body{font-size: 15.0px;}
	.banner{height: 175.4px;}
	.nameSub{font-size: 1em;}
}
@media screen and (max-width: 700px) and (min-width: 600px){
	body{font-size: 14.0px;}
	.banner{height: 161px;}
	.HeaderTournament{ font-size: 1.9em;text-shadow: 2px 2px 4px black;
}
}
@media screen and (max-width: 800px) and (min-width: 600px){
	.login{width: 47.5%;}.loginInputs{width: 38%;} .loginButton,.loginInputs{font-size: 0.8em;}
}
@media screen and (max-width: 600px){body{font-size: 13px;} .optionsHeader{font-size: 1em;} .tittle{font-size: 2.1em;}
.login{width: 58.1%;}.loginInputs{width: 36%;} .loginButton,.loginInputs{font-size: 0.8em;} .banner{height: 150px;}
		.HeaderTournament{ font-size: 1.6em;text-shadow: 2px 2px 4px black;}}
@media screen and (max-width: 500px){ .optionsHeader{font-size: 0.9em;}.banner{height: 140px;}}
@media screen and (max-width: 440px){ .optionsHeader{font-size: 0.8em;margin-right: 0.5%} .tittle{font-size: 2.0em;}.banner{height: 120px;}}
