@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.TournamentInfoItem{
	color:white;
	font-size: 1.05em;
}
.nameSub{
	font-weight: bold;
	font-size: 1.2em;
}
.HeaderTournament{
	color:white;
	font-size: 2.1em;
	text-align: center;
	text-shadow: 1px 1px 2px black;
	
}
.informativeText{
	color:white;
	font-size: 1em;
	text-align: center;
}
.fadeIn{
	-webkit-transition: fadein 2s ease-out;
	-o-transition:fadein 2s ease-out;
	-moz-transition:fadein 2s ease-out;
	-ms-transition:fadein 2s ease-out;
	transition: fadein 2s ease-out;
}
.images{
	width: 100%;
}
.imageHidden{
	opacity: 0;
}
.InfoTournament{
	background: #35236b;
	border: 1px solid #D8D8D8;
	width: 95%;
	margin: 10px auto;
	height: 550px;
}
.PrincipalInfoTournament{
	height: 60%;
	width: 35%;
	background: rgba(21,21,21,0.1);
	margin-left:3%;
	vertical-align: top;
	color:white;
}
.ImagesTournamentInfo{
	width: 55%;
	margin-left: 5%;
	background: rgba(50,21,21,0.1);
	height: 76%;
}

.headerTourInfo{
	height: 10%;
	margin-top:20px;
	margin-bottom: 30px;
}

.ImagesTournamentInfo,.PrincipalInfoTournament{
	display: inline-block;
}
.ImageContainer{
	margin:0 auto;
	width: 75%;
	position: relative;
}
.fixtureTournament{
	width: 98%;
	margin: 15px auto;
	min-height: 700px;
	height: auto;
	background: url('../images/fixturesBlue.png');
	color: white;
}

.h2Fixture{
	font-size: 2.0em;
    font-family: sans-pro;
    text-align: center;
    margin-top: 40px;
    display: inline-block;
    width: 100%;
}
.headerFixtures{
	width: 90%;

	margin: 0 auto;
}
.ItemLeagueOp{
	display:inline-block;
	margin-left: 5%;
	width: 27%;
}
.GroupsContainer{
	color:black;
}
.championsClasif{
	background: #00FF40;
}
.preChampionsClasif{
	background: #0B6121;
	opacity: 0.7;
}
.nonClasific{
	background: #585858;
}
.EuropeanLeagueCLasific{
	background: #045FB4;
}
.Descense{
	background: #DD0000;
	opacity: 0.7;
}
.championsClasif, .preChampionsClasif, .nonClasific, .EuropeanLeagueCLasific, .Descense{
	color:white;
}

