
*{
	border-radius: 8px;
	height: 100%;
	position:static;
}
p{

	height: 0%;
}

section header, section footer{
	width: 95%;
	height: 16%;
}
section article{
	width: 95%;
	height: 50%;	
}
body{
	background-color: #2E2E2E;
	position: relative
}
div{
	display: inline-block;
	position: relative;
}
.principalHeader{
	margin: 10px ;
	border:10px;
	width: 98%;
	height: 16%;
	
}

.section{
	margin: 0px ;
	width: 40%;
	height: 60%;
}
.nav{
	margin: 10px;
	width: 27.3%;
	height: 20%;
}

.footer{
	margin:10px;
	width: 98%;
	height: 13%
}


.section, .nav, .principalHeader, aside, footer{
	background-color: #6E6E6E;
	display: inline-block;
}
section header, section footer, section article{
	background-color: #BDBDBD;
	margin: 2%;
}


